#chat{
    
    background-color: #ddd;
    padding:20px;
}
#username{
   
    margin:0 auto;
    padding:5px;
    border-radius:5px;
    border:none;
    margin:10px;
}
#chat-box{
    display: flex;
    flex-direction: column-reverse;
    height: 12rem;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px #ccc dashed;
    font: .85rem/1.5 Arial;
    color: #313131;
    position: relative;
    }
    .chat__message {
        width: 45%;
        display: flex;
        align-items: flex-end;
        transform-origin: 0 100%;
        padding-top: 0;
        transform: scale(0);
        max-height: 0;
        overflow: hidden;
        animation: message 0.15s ease-out 0s forwards;
        animation-delay: var(--delay);
        --bgcolor: #d8d8d8;
        --radius: 8px 8px 8px 0;
      }
      @keyframes message {
        0% {
          max-height: 100vmax;
        }
        80% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
          max-height: 100vmax;
          overflow: visible;
          padding-top: 1rem;
        }
      }
.me{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding:10px;
    margin:10px;
    flex-direction: row-reverse;
    text-align: right;
    align-self: flex-end;
    transform-origin: 100% 100%;
}
.another{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding:10px;
    margin:10px;
    flex-direction:end;
}
img{
    margin-left:20px;
    margin-right:20px;
}
.bubble{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding-left:10px;
    padding-right:10px;
    margin:10px;
    flex-direction:end;
}
.user{
  color:blue;
  font-weight:bold;
}
.date{
  color:brown;
}
.message{
  color:green;
  font-style: italic;
}