<h2>Crear producto</h2>

<div class="box">
  
        <h2>Ingresar producto</h2>
        <div class="form-group">
            <label for="title">Titulo</label>
            <input class="form-control" id="title" name="title" type="text" />
        </div>
        <div class="form-group">
            <label for="price">precio</label>
            <input class="form-control"  id="price" name="price" type="text" />
        </div>
 
            <label for="thumbnail">thumbnail</label>
            <select class="form-control" id="thumbnail" name="thumbnail" />
                <option value="https://www.ecccomics.com/content/productos/1575/Flash_El-origen-de-Flash.jpg">flash</option>
                <option value="https://movieplay02.akamaized.net/14786-thickbox_default/superman-action-comic-num-2-renacimiento.jpg"><img src="https://movieplay02.akamaized.net/14786-thickbox_default/superman-action-comic-num-2-renacimiento.jpg" alt="" srcset="">superman</option>
            </select> 
        </div>
        <button class="btn btn-success" id="addList"  >Enviar</button>
   
    </div>

  <div id="productos">

  </div>

<div id="chat">
    <h2>centro de mensajes</h2>
   
    <input type="text" placeholder="Username" id="username">
    <div id="chat-box">
        <ul id="chat-messages">

        </ul>
    </div>
    <div id="chat-form">
        <input type="text" id="chat-input" />
        <span id="typing"></span>
        <button id="sendMessage">Send</button>
    </div>
  