#chat{
            background-color: aquamarine;
            padding:20px;
        }
#username{
           border:none;
           border-radius:5px;
           margin:0 auto;
           margin:10px;
           padding:5px;
       }
#chat-box{
      border: 1px #ccc dashed;
      color: #313131;
      display: flex;
      flex-direction: column-reverse;
      font: .85rem/1.5 Arial; 
      z-index: 100; 

      overflow: hidden;
      overflow-y: scroll;
      position: relative;
      height: 12rem;
  }
    .chat__message {
          --bgcolor: #d8d8d8;
          --radius: 8px 8px 8px 0;
          align-items: flex-end;
          animation: message 0.15s ease-out 0s forwards;
          animation-delay: var(--delay);
          display: flex;
          max-height: 0;
          overflow: hidden;
          padding-top: 0;
          transform: scale(0);
          transform-origin: 0 100%;
          width: 45%;
      }
      @keyframes message {
        0% {
            max-height: 100vmax;
        }
        80% {
            transform: scale(1.1);
        }
        100% {
            max-height: 100vmax;
            overflow: visible;
            padding-top: 1rem;
            transform: scale(1);
        }
      }
.me{
      align-self: flex-end;
      background-color: #f5f5f5;
      border-radius: 5px;
      flex-direction: row-reverse;
      margin:10px;
      padding:10px;
      text-align: right;
      transform-origin: 100% 100%;
  }
.another{
      background-color: #f5f5f5;
      border-radius: 5px;
      flex-direction:end;
      margin:10px;
      padding:10px;
  }
img{
      margin-left:20px;
      margin-right:20px;
  }